<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projfinal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<!-- The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.projfinal.LoginOne"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.projfinal.CityListAct"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.projfinal.SigningUp"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.projfinal.Functionality"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projfinal.FUNCTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.projfinal.LoginOne"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projfinal.LOGINS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.projfinal.Change_Sett"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.projfinal.CHANGES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.projfinal.RequestDetails"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projfinal.REQUEST" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyB75IfPWzuDtWzp_71F9i3rJ0JbjJ5VyR8"/>
        
      <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    </application>
<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
</manifest>
